.auth-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &__incitingtext {
        color: blue;
        text-decoration: none;
        cursor: pointer;
    }
}